body {
    background: #111619;
    color: #eed;
    font-family: 'Fjalla One', sans-serif;
    padding: 1rem 2rem;
}

p {
    display: none;
}

.colours {
    position: fixed;
    box-sizing: border-box;
}

#top_colours {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: transparent;
}

.colour_box {
    right: 0;
    bottom: 0;
    border-style: solid;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
}

#bottom_colour_a {
    border-width: 7rem;
    border-color: transparent;
    z-index: -1;
}

#bottom_colour_b {
    border-width: 5.5rem;
    border-color: transparent;
    z-index: -1;
}

#bottom_colour_c {
    bottom: 2rem;
    width: 14rem;
    height: 14rem;
    background: #111619;
    border-width: 0;
    z-index: -1;
}

#game_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none;
}

#game_container a {
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 150%;
    color: white;
    text-decoration: none;
}

#game_container div {
    resize: both;
    border: 1px solid white;
    padding: 5px;
    overflow: hidden;
    box-sizing: content-box;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

#game_container canvas {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: move;
}

#game_container canvas.crisp {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#game_launcher {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: white;
    text-decoration: none;
    line-height: 1.5;
}

#game_launcher a {
    color: white;
    text-decoration: none;
    display: block;
    float: left; 
    clear: left; 
}